@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

nav {
    padding: 10px;
    background: #333;
    text-align: center;
}

nav a {
    margin: 0 10px;
    text-decoration: none;
    color: #fff;
    font-weight: 500;
}

nav a:hover {
    text-decoration: underline;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* height: 100vh; */
    min-height: 100vh;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input {
    width: 300px;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    border-radius: 20px;
    height: 30px;
}

.input:focus {
    border-color: #4285f4;
    box-shadow: 0 0 8px rgba(66, 133, 244, 0.2);
    outline: none;
}

.button {
    width: 320px;
    padding: 15px;
    margin-top: 20px;
    background: linear-gradient(45deg, #34a853, #0f9d58);
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 30px;
}

.button:hover {
    background: linear-gradient(45deg, #0f9d58, #34a853);
}

.button:disabled {
    background: gray;
    cursor: not-allowed;
}

.loader {
    margin-top: 20px;
    font-size: 16px;
    color: #333;
}

.error {
    margin-top: 20px;
    font-size: 16px;
    color: red;
}

.result {
    margin-top: 20px;
    font-size: 18px;
}

.results-list {
    margin-top: 20px;
    width: 80%;
}

.result-item {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: left;
}
